## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import google_api_key

# Configure gmaps
gmaps.configure(api_key=google_api_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Butaritari,KI,81.86,light rain,3.0707,172.7902,Isles Sunset Lodge
1,6,Bengkulu,ID,84.56,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,9,Naze,JP,83.32,scattered clouds,28.3667,129.4833,オーベルジュ・アガルイ
3,10,Big Spring,US,81.88,clear sky,32.2504,-101.4787,Hampton Inn & Suites Big Spring
4,13,Hilo,US,78.53,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} °F</dd>
"""

In [4]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

In [6]:
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Hasaki"]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Katsuura"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Naruto"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Shingu"]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
temp_value = vacation_start.to_numpy()
start_lat_lng = (temp_value[0][5], temp_value[0][6])
end_lat_lng = start_lat_lng
temp_value = vacation_stop1.to_numpy()
stop1_lat_lng = (temp_value[0][5], temp_value[0][6])
temp_value = vacation_stop2.to_numpy()
stop2_lat_lng = (temp_value[0][5], temp_value[0][6])
temp_value = vacation_stop3.to_numpy()
stop3_lat_lng = (temp_value[0][5], temp_value[0][6])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
        start_lat_lng, end_lat_lng, waypoints=[stop1_lat_lng, stop2_lat_lng, stop3_lat_lng],
        travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,250,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,299,Katsuura,JP,80.62,broken clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
2,330,Naruto,JP,84.58,few clouds,34.1833,134.6167,Resort hotel Moana Coast
3,403,Shingu,JP,81.59,scattered clouds,33.7333,135.9833,Shingu UI Hotel
4,250,Hasaki,JP,77.40,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
trip_hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
trip_locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, 138.0), zoom_level=7)
marker_layer = gmaps.marker_layer(trip_locations, info_box_content=trip_hotel_info)
fig.add_layer(marker_layer)

In [13]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))